.kartya{
    width: 120px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: orange;
    
    position: absolute; 
    left: 600px;
    bottom: 600px;

/*
    width: 100px;
    height: 100px;
*/
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
    animation-play-state: paused; 
}

.jatekter{
    /*display: grid;
    grid-template-columns: repeat(5, 1fr);*/
}

@media only screen and (max-width: 600px){
    .jatekter{
        display: flex;
        flex-wrap: wrap;
    }
}

@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
}
  
  /* The element to apply the animation to */
.kartya:hover {
    animation-play-state: running;
}